@font-face {
  font-family: 'Robus'; 
  src: url('../fonts/Robus-BWqOd.otf') format('truetype'); 
}
@font-face {
  font-family: 'Venito'; 
  src: url('../fonts/VeniteAdoremusStraight-Yzo6v.ttf') format('truetype'); 
}
@font-face {
  font-family: 'Hunter'; 
  src: url('../fonts/DragonHunter-9Ynxj.otf') format('truetype'); 
}
